@font-face{
    font-family: 'Cars1';
    src: url("Fonts/FerroRosso.ttf") format("truetype");
    font-size: 10em;
}

body {
    margin:auto;
    font: 80%;
    max-width: 1069px;
    min-width: 240px;
    margin-left: auto;
    margin-right: auto;
}


.wrapper {
    display: grid;
    background: no-repeat;
    grid-gap: 10px;
    grid-template-columns: repeat(7,150px);
    grid-template-rows: repeat(14,150px);
    background-color:white;
    color: #444;
}

.box{
    border:0px solid #444;
    
}

.a{
    grid-column: 1/4;
    grid-row: 2/5;
    text-align: center;
    
}

.b{
    grid-column: 4/7;
    grid-row: 4/7;
    text-align: center;
}

.c{
    grid-column: 1/4;
    grid-row: 6/9;
    text-align: center;
}

.d{
    grid-column: 2/6;
    grid-row: 9/14;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.e{
    grid-column: 1/8;
    grid-row: 8/14;
}

th{
    width: 20px;
    height: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.to{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}
td{
    width: 125px;
    height: 40px;
    border-collapse: collapse;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}

 th{
    width: 50px;
    height: 50px;
    }
    body{
        background-color: transparent;
    }

 .cars{
     float: right;
     clear: left;
     font-family: cars1;
     font-size: 700%;
     position: absolute;
     left:30%;
     top:0px;
     margin: 50px;
     bottom: 50%;
     right: 100%;


    }
    .navbar {
        overflow: hidden;
        background-color: white;
        position: fixed;
        top: 0;
        width: 5%;
      }
      .navbar a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
    
      .navbar a:hover {
        background: #ddd;
        color: black;
      }
      .c > .d > .goomba{
        left: 50%;
        top: 170%;
        margin-right: -50%;
        position: absolute;
        transform: translate(-50%, 50%)
      }
     .background{
          z-index: 99999;
          opacity: 0;
          transition: 2s ease;
          
      }
      .background::after{
          visibility: hidden;
          z-index: 0;
      }
      body.background{
        height: 100vh;
        width: 100vw;
        z-index: 5;

      }

